In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
#recall 1st scenario
loyalty_remainstatue1=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_remainstatue',index_col=0)
loyalty_Exited1=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_Exited',index_col=0)
Tenure1=pd.read_excel('total_pred.xlsx',sheet_name='Tenure',index_col=0)
Balance1=pd.read_excel('total_pred.xlsx',sheet_name='profit',index_col=0)
#recall 2nd scenario
loyalty_remainstatue2=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_remainstatue2',index_col=0)
loyalty_Exited2=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_Exited2',index_col=0)
Tenure2=pd.read_excel('total_pred.xlsx',sheet_name='Tenure2',index_col=0)
Balance2=pd.read_excel('total_pred.xlsx',sheet_name='profit2',index_col=0)
#recall 3rd scenario
loyalty_remainstatue3=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_remainstatue3',index_col=0)
loyalty_Exited3=pd.read_excel('total_pred.xlsx',sheet_name='loyalty_Exited',index_col=0)
Tenure3=pd.read_excel('total_pred.xlsx',sheet_name='Tenure3',index_col=0)
Balance3=pd.read_excel('total_pred.xlsx',sheet_name='profit3',index_col=0)

In [25]:
#copy 1st scenario
copy_loyalty_remainstatue1=loyalty_remainstatue1
copy_loyalty_Exited1=loyalty_Exited1
copy_Tenure1=Tenure1
copy_Balance1=Balance1
#copy 2nd scenario
copy_loyalty_remainstatue2=loyalty_remainstatue2
copy_loyalty_Exited2=loyalty_Exited2
copy_Tenure2=Tenure2
copy_Balance2=Balance2
#copy 3rd scenario
copy_loyalty_remainstatue3=loyalty_remainstatue3
copy_loyalty_Exited3=loyalty_Exited3
copy_Tenure3=Tenure3
copy_Balance3=Balance3

In [26]:
#calculate the expected values of loyalty
E_loyalty=round((copy_loyalty_remainstatue1+copy_loyalty_remainstatue2+copy_loyalty_remainstatue3)/3)
E_loyalty

      prediction
9069         1.0
2603         0.0
7738         1.0
1579         0.0
5058         1.0
...          ...
8014         1.0
1074         0.0
3063         0.0
6487         1.0
4705         1.0

[10000 rows x 1 columns]

In [96]:
from openpyxl import load_workbook

book = load_workbook('total_pred.xlsx')
writer = pd.ExcelWriter('total_pred.xlsx', engine='openpyxl') 
writer.book = book

E_loyalty.to_excel(writer,sheet_name='E_loyalty')
writer.save()

In [27]:
#calculate the expected values of Tenure
E_Tenure=round((copy_Tenure1+copy_Tenure2+copy_Tenure3)/3)
E_Tenure

      prediction
9069         9.0
2603         1.0
7738         7.0
1579         4.0
5058         5.0
...          ...
8014         6.0
1074         4.0
3063         5.0
6487         6.0
4705         6.0

[10000 rows x 1 columns]

In [97]:
from openpyxl import load_workbook

book = load_workbook('total_pred.xlsx')
writer = pd.ExcelWriter('total_pred.xlsx', engine='openpyxl') 
writer.book = book

E_Tenure.to_excel(writer,sheet_name='E_Tenure')
writer.save()

In [28]:
#calculate the expected values of Balance
E_Balance=round((copy_Balance1+copy_Balance2+copy_Balance3)/3)
E_Balance

      prediction
9069     75148.0
2603     34244.0
7738     68815.0
1579     32066.0
5058     68313.0
...          ...
8014     83795.0
1074     16044.0
3063     47402.0
6487     72229.0
4705     79091.0

[10000 rows x 1 columns]

In [98]:
from openpyxl import load_workbook

book = load_workbook('total_pred.xlsx')
writer = pd.ExcelWriter('total_pred.xlsx', engine='openpyxl') 
writer.book = book

E_Balance.to_excel(writer,sheet_name='E_Balance')
writer.save()

In [29]:
#calculate expexted value of CLV
E_CLV=E_Tenure*E_Balance
E_CLV

      prediction
9069    676332.0
2603     34244.0
7738    481705.0
1579    128264.0
5058    341565.0
...          ...
8014    502770.0
1074     64176.0
3063    237010.0
6487    433374.0
4705    474546.0

[10000 rows x 1 columns]

In [33]:
from openpyxl import load_workbook

book = load_workbook('total_pred.xlsx')
writer = pd.ExcelWriter('total_pred.xlsx', engine='openpyxl') 
writer.book = book

E_CLV.to_excel(writer,sheet_name='E_CLV')
writer.save()

In [32]:
E_CLV.value_counts()

prediction
0.0           41
510461.0       4
573496.0       3
63552.0        3
418062.0       2
              ..
148878.0       1
148888.0       1
148926.0       1
148950.0       1
792594.0       1
Length: 9653, dtype: int64

In [59]:
#mean of E_CLV is deviding criteria for customer between two group 0&1 
#wich 1 belong to values above than mean
# 0 belong to values less than mean
E_CLV.mean()

prediction    309833.7631
dtype: float64

In [58]:
E_CLV[E_CLV['prediction']==309833.7631]

Empty DataFrame
Columns: [prediction]
Index: []

In [56]:
Bi_E_CLV=pd.DataFrame(columns={'bi_CLV'})
bi_CLV=[]
for i in E_CLV['prediction']:
    if i>=309833.7631:
        bi_CLV.append(1)
    else:
        bi_CLV.append(0)
        
Bi_E_CLV['bi_CLV']=bi_CLV   
Bi_E_CLV

      bi_CLV
0          1
1          0
2          1
3          0
4          1
...      ...
9995       1
9996       0
9997       0
9998       1
9999       1

[10000 rows x 1 columns]

In [57]:
Bi_E_CLV.value_counts()

bi_CLV
0         5065
1         4935
dtype: int64

In [63]:
Bi_E_CLV['bi_CLV'].isin(E_loyalty['prediction']).value_counts()

True    10000
Name: bi_CLV, dtype: int64

In [66]:
compare['compare'] = np.where(Bi_E_CLV['bi_CLV'] == E_loyalty['prediction'], 'True', 'False')

ValueError: Can only compare identically-labeled Series objects

In [76]:
E_CLV[E_CLV['prediction']==E_loyalty['prediction']].value_counts()

prediction
0.0           41
dtype: int64

In [94]:
comparing=(E_CLV.where(E_CLV.values==E_loyalty.values).notna().value_counts()).to_frame().rename(columns={'0':'number'}, index={'False':'mismatch' ,'True':'match'})
comparing

               0
prediction
False       9959
True          41

In [95]:
comparing[0]

prediction
False         9959
True            41
Name: 0, dtype: int64